# Laravel
/bootstrap/compiled.php
/vendor

# Configuration
/app/config/local
/app/config/packages/adamwathan
app/ScheduleGuru/IdeaBin
/app/config/staging
/app/config/production
vendor
public/packages
# Composer
composer.phar
composer.lock

# OS
.DS_Store
.idea/
vagrant
.vagrant

# Packages
_ide_helper.php

# environment
.env.*
php.ini


# Auth Keys
*.p12
scheduleguru-2947938eb71b.json

app/config/packages/atticmedia/anvard/hybridauth.php

frznNodeAdmin_composer.json
app/config/packages/barryvdh
gist-form-tricks.tar.gz
gist-form-tricks
public/form2js
bower_components